/* .nav-container {
    background: #000000;
    border-bottom: 1px solid #CA851E;
    padding-bottom: 0px;
    padding-top: 10px;
} */

.navbar {
    display: flex;
    align-items: center;   
    justify-content: space-between;
    /* z-index: 50; */
    /* background: #000000; */
    border-bottom: 1px solid #CA851E;
    padding-bottom: 0px;
    padding-top: 10px;
   
}

    nav ul {
        display: flex;
    }

    nav .logo {
        font-family: Noto Serif KR, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        color: #CA851E;
        height: 50px;
        text-decoration: none;
    }

    nav a.logo:hover {
        color: #A26B19;
    }

    nav a.logo:active {
        color: #614010;
    }

.nav-items li {
    list-style: none;
    margin-right: 50px;
    height: 50px;
    padding-top: 3px;
}

    .nav-items li a {
        font-family: Noto Serif KR, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        text-decoration: none;
        color: #CA851E;
    }

        .nav-items li a:hover {
            color: #A26B19;
        }

        .nav-items li a:active {
            color: #614010;
        }

.nav-search-btn {
    text-decoration: none;
}

a.nav-search-btn img:nth-child(2) {
    display: none;
}

a.nav-search-btn img:last-child {
    display: none;
}

a.nav-search-btn:hover img:first-child {
    display: none;
}

a.nav-search-btn:hover img:nth-child(2) {
    display: block;
}

a.nav-search-btn:hover img:last-child {
    display: none;
}

a.nav-search-btn:active img:first-child {
    display: none;
}

a.nav-search-btn:active img:nth-child(2) {
    display: none;
}

a.nav-search-btn:active img:last-child {
    display: block;
}

.hamburgerMenu {

    width: 30px;
    height: 30px;
    display: none; 
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-right: 5px;
}

.hamburgerMenu > div {
    width: 100%;
    height: 3px;
    bottom: 0.5rem;
    border-radius: 10px;
    background: #CA851E;
}

.hamburgerMenu:hover > div {
    background: #A26B19;
}

.dropdown:active > .link .link:hover {
    color: #A26B19;
}

.dropdown {
    position: relative;
}

@media (max-width: 960px){
    .nav-items {
        display: none;
    }
    .dropdown {
        display: none; 
    }
    .hamburgerMenu{
        display: flex; 
    }
}

@media (max-width: 500px)
{
    .nav-items h2 {
        font-size: 1rem;
    }
}
