@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* @media (max-width: 1260px){
  .rightpanel-wrapper {
      max-width: 780px;
  }
}

@media (max-width: 960px){
  .rightpanel-wrapper {
      max-width: 450px;
  }
}

@media (max-width: 500px)
{
  .rightpanel-wrapper {
      max-width: 200px;
  }

} */
