.course-content-title {
    margin: auto;
    margin-bottom: 20px;
    color: #CA851E;

}

.course-contents-wrapper {
    font-family: Noto Sans Tamil UI;
    font-style: normal;
    font-weight: normal;
    background-color: black;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    padding-top: 90px;
    margin-bottom: 235px;
}

.course-content-btn {
    font-family: Noto Serif KR;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    color: #CA851E;
    text-decoration: none;
    background: linear-gradient(142.96deg, rgba(5, 5, 5, 0.6) 15.96%, rgba(19, 19, 19, 0.8) 83.29%);
    border: 1px solid rgba(86, 86, 86, 0.3);
    box-sizing: border-box;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.05);
    padding: 24px 418px;
    border-radius: 10px;
    margin-bottom: 15px;
}

a.course-content-btn:hover {
    border: 1px solid rgba(252, 250, 250, 0.3);
}

a.course-content-btn:active {
    border: 1px solid #FFFFFF;
}

.course-btn-wrapper
{
    background: none;
    width:  200px;
    text-align: center;
    margin: auto;
}