.article-author {
    display: flex;
    flex-direction: row;
}

.article-author-by {
    font-size: 16px;
    line-height: 22px;
    color: #4E463B;
}

.article-author-name {
    font-size: 16px;
    line-height: 22px;
    color: #CA851E;
    margin-left: 5px;
}

.article-author-time {
    font-size: 16px;
    line-height: 22px;
    color: #4E463B;
    margin-left: 10px;
}